@{
    ViewBag.PageTitle = "Våra kurser";
}

<article class="page">
    <h1 class="page-title">Klassrumskurser</h1>
    <h1 class="page-title">Distanskurser</h1>
    <h1 class="page-title">OnDemand kurser</h1>
</article>