@model WestcoastEducation.Web.Models.UserModel

@{
    Layout = "_LayoutAdmin";
}

<section class="page">
    <h1 class="page-title">Lägg till användare</h1>

    <form class="shadow" asp-action="create" asp-controller="UserAdmin" method="post">

        <div class="form-control">
            <label for="">Förnamn</label>
            <input asp-for="FirstName" />
        </div>
        <div class="form-control">
            <label for="">Efternamn</label>
            <input asp-for="LastName" />
        </div>
        <div class="form-control">
            <label for="">E-post</label>
            <input asp-for="Email" />
        </div>
        <div class="form-control">
            <label for="">Personnummer</label>
            <input asp-for="SocialSecurityNumber" />
        </div>
        <div class="form-control">
            <label for="">Gatuadress</label>
            <input asp-for="StreetAddress" />
        </div>
        <div class="form-control">
            <label for="">Postkod</label>
            <input asp-for="PostalCode" />
        </div>
        <div class="form-control">
            <label for="">Telefonnummer</label>
            <input asp-for="Phone" />
        </div>
        <div class="form-control">
            <label for="">Kryssa i om användaren är en lärare</label>
            <input asp-for="IsATeacher" type="checkbox" />
        </div>

        <div class="form-control">
            <div class="buttons-container">
                <button type="Submit" class="btn-submit">
                    <i class="fa-sharp fa-solid fa-floppy-disk"></i> Spara
                </button>
                <button class="btn-cancel">
                    <a asp-action="Index" asp-controller="UserAdmin">
                        <i class="fa-solid fa-arrow-left"></i> Avbryt</a>
                </button>
            </div>
        </div>

    </form>
</section>