@using WestcoastEducation.Web.Models

@model IList<WestcoastEducation.Web.Models.User>

@{
    ViewBag.PageTitle = "User Account";
    Layout = "_LayoutAdmin";
}

<article class="page">
    <h2 class="page-title">Användare</h2>
    <h3 class="page-title">Lärare</h3>
    <section class="course-container">
        @foreach (var user in Model)
        {
            if (user.GetType() == typeof(Teacher))
            {
                <div>
                    <a asp-action="details" asp-route-userId=@user.UserId>Lärare @user.CompleteName</a>
                </div>
            }
        }
    </section>
    <h3 class="page-title">Studenter</h3>
        <section class="course-container">
        @foreach (var user in Model)
        {
            if (user.GetType() == typeof(Student))
            {
                <div>
                    <a asp-action="details" asp-route-userId=@user.UserId>Student @user.CompleteName</a>
                </div>
            }
        }
    </section>

</article>