@model IList<WestcoastEducation.Web.Models.Classroom>

@{
    ViewBag.PageTitle = "Våra utbildningar";
}

<article class="page">
    <h1 class="page-title">Klassrumskurser</h1>
    <section class="course-container">
        @foreach (var classroom in Model)
        {
            <div>
                <a asp-action="details" asp-route-classroomId=@classroom.ClassroomId>@classroom.Name - @classroom.Content</a>
            </div>
        }
    </section>
    <h1 class="page-title">Distanskurser</h1>
    <h1 class="page-title">OnDemand-kurser</h1>
</article>