:root {
    --primary-color: #ff8552;
    --secondary-color: #e9d758;

    --dark-color: #39393a;
    --light-color: #e6e6e6;

    --primary-text-color: #D66BA0;
    --primary-background-color: #c5c5c5;
    --primary-border-color: #888;
}
