:root {
    --primary-color: #19647e;
    --secondary-color: #28afb0;

    --dark-color: #1e1e24;
    --light-color: #f7ebe8;

    --primary-text-color: #556f44;
    --primary-background-color: #34435e;
    --primary-border-color: #f4d35e;
}
