@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    background: var(--primary-background-color);
    line-height: 1.6;
}

h1 {
    font-weight: 1200;
    line-height: 1.8;
}

h2 {
    font-weight: 400;
    line-height: 1.2;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    margin: 1rem 0;
}

.button {
    background-color: var(--primary-background-color);
    padding: 0.8rem;
    border-radius: 10px;
    box-shadow: 8px 5px 10px var(--dark-color);
    border: 2px solid var(--primary-text-color);
}

.button:hover {
    background-color: var(--primary-color);
}

.course-container {
    text-align: center;
}

.page {
    padding: 5rem;
}

.page-title {
    text-align: center;
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 2rem;
    padding: 2rem 4rem;
}

.background-image {
    height: 100vh;
    width: 100vw;
    background: url("img/landing-page-WE.jpg") no-repeat center center/cover;
    position: absolute;
    opacity: 0.6;
    left: 0px;
    top: 0px;
    z-index: -1;
}

/* Offer */

.offer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    height: 8vh;
    width: 100vw;
    color: var(--dark-color);
}

.offer {
    padding: 10px;
    height: 8vh;
}

/* Icons */

.logo-text {
    color: var(--primary-text-color);
}

.icons {
    padding: 2rem;
}

.icons h3 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.icons i {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
