@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    background: var(--primary-background-color);
    line-height: 1.6;
}

h1 {
    font-weight: 1200;
    line-height: 1.8;
}

h2 {
    font-weight: 400;
    line-height: 1.2;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.button {
    background-color: var(--light-color);
    padding: 0.8rem;
    border-radius: 10px;
    box-shadow: 8px 5px 10px var(--dark-color);
    border: 2px solid var(--primary-text-color);
}

.button a:active {
    color: var(--secondary-color);
}

.button:hover {
    background-color: var(--primary-color);
}

.course-container a {
    color: var(--dark-color);
    text-decoration: underline;
    font-weight: 800;
}

.course-container a:active {
    color: var(--secondary-color);
}

.course-container {
    text-align: center;
}

.logo-text {
    color: var(--primary-color);
}

.icons {
    padding: 2rem;
}

.icons h3 {
    font-weight: bold;
}

.icons i {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 1rem;
}

.page {
    padding: 4rem;
}

.page-title {
    text-align: center;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 2rem;
    padding: 2rem 4rem;
}

.offer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-border-color);
    height: 8vh;
    width: 100vw;
    color: var(--dark-color);
}

.offer {
    padding: 14px;
    height: 8vh;
}
